.hero {
  margin-top: 76px;
  text-align: center;
}

.hero__image {
  border-radius: 20px;
  display: block;
  margin-bottom: 50px;
  max-width: 100%;
  align-self: center;
}

.hero__title {
  display: block;
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.625rem;
  letter-spacing: 0.215em;
  order: -1;
}
.hero__subtitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.21em;
}
.hero__text {
  max-width: 336px;
}

.hero__info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  max-height: 395px;
}

.hero__info-box {
  background-color: #332f3c;
  border-radius: 10px;
  color: #fff;
  padding: 15px 0;
  max-height: 195px;
}

.hero__info-title {
  font-weight: 600;
  font-size: 20px;
}

.hero__info-text {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.36);
}

.hero__info-link {
  text-decoration: none;
  font-weight: 600px;
  font-size: 18px;
  color: #fff;
}

.hero__info-link-image {
  vertical-align: middle;
  margin-right: 5px;
}

@media screen and (min-width: 640px) {
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 5px;
    gap: 30px;
  }

  .hero__title {
    font-size: 4rem;
    text-align: left;
    margin-top: -10px;
  }
  .hero__subtitle {
    text-align: left;
    font-size: 30px;
  }

  .hero__text {
    text-align: justify;
    max-width: none;
  }

  .hero__button {
    padding: 20px 30px;
    max-width: 190px;
  }

  .hero__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}
